{{#if isSelected}}
  <li {{action 'hideDetails'}}>{{currentQuestion.question}}</li>
  <p>Written by: {{currentQuestion.author}}</p>
  <p>Notes: {{currentQuestion.notes}}</p>
  <ul>
      <li>Answers: </li>
    <ol>
    {{#each currentQuestion.answers as |currentAnswer|}}
      <li>{{currentAnswer.answer}}</li>
      <p>Written by: {{currentAnswer.author}}</p>
    {{/each}}
    </ol>
  </ul>
{{else}}
  <li {{action 'showDetails'}}>{{currentQuestion.question}}</li>
{{/if}}
